<div>
  {{ msg }}
  <form>
    <button @click="addTodo()">Add Todo</button>
    <button @click="deleteCheckedTodos()">Delete Finished Todo</button>
    <p>input: <input type="text" v-model="newTodo"></p>
    <p>task: {{ newTodo }}</p>
  </form>
  <div class="todo-list">
    <label class="todo-list__item"
           :class="{'todo-list__item--checked': todo.done}"
           v-for="todo in todos">
      <input type="checkbox" v-model="todo.done">
      <button @click="toggleTodoEdit(todo)">{{ editButtonText(todo) }}</button>
      <input v-if="todo.editing" type="text" v-model="todo.text">
      <span v-else>{{ todo.text }}</span>
    </label>
  </div>
</div>
